.primary {
  background-color: #de9154;
  color: whitesmoke;
}

.secondary {
  background-color: #d1a684;
  color: whitesmoke;
}


.buttons {
  display: flex;
  max-width: 300px;
  justify-content: space-between;
}